__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json
pip-log.txt

.git/
.gitignore
.gitattributes

.dockerignore
Dockerfile

.idea/
.vscode/
*.swp
*.swo

.env
telco_etl.log
local_test_data/

usage_sample.csv
usage.csv

dist/
build/
*.egg-info/